{% extends 'base.html.twig' %}

{% block title %}Logout in!{% endblock %}

{% block stylesheets %}

´ß
{% endblock %}
{% block body %}

 
        <h1 class="h3 mb-3 font-weight-normal">Hope To See You Soon! </h1>
        
 

{% endblock %}
