{% extends 'content_base.html.twig' %}

{% block javascripts %}

    {{parent()}}

    <script src='{{asset('js/admin_article_form.js')}}'> </script>

{% endblock %}

{% block content_body %}

    <h1> Edit the Comment!</h1>

     {{ include('comment_admin/_form.html.twig',{
        button_text:'update!'
     }) }}



   



{% endblock %}

